<div class="p-4">
    <div class="container">
        <h1>Hi {{user.firstName}}!</h1>
       <h2> <p>You're logged in with our Bank!!</p></h2>
   
    </div>
<p align="center">
    Bajaj Finserv is an Indian non-banking financial company which offers services like asset management, wealth management and insurance.
     It is a part of Bajaj Holdings & Investments Limited.

</p>
<p>Services provided are :</p>
<div class="con">
    
    <div class="img-box">
        <a href="https://www.paisabazaar.com/bajaj-finserv/personal-loan/">
        <img src="assets\images\business loan.PNG" alt="bloan">
            </a>
    </div>

        <div class="img-box">
            <a href="https://www.paisabazaar.com/bajaj-finserv/credit-card/">
            <img src="assets\images\credit card.PNG" alt="bloan"></a>
        </div>
            <div class="img-box">
                <a href="https://www.paisabazaar.com/bajaj-finserv/fixed-deposit/">
                <img src="assets\images\fixed deposit.PNG" alt="bloan"></a>
            </div>
            <div class="img-box">
                <a href="https://www.paisabazaar.com/bajaj-finserv/insurance/">
                <img src="assets\images\insurance.PNG" alt="bloan"></a>
            </div>
            <div class="img-box">
                <a href="https://www.paisabazaar.com/bajaj-finserv/business-loan/">
                <img src="assets\images\loan.PNG" alt="bloan"></a>
            </div>
            <div>
        


</div>
